.articlePreview {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 15px;
    grid-template-rows: 0.2fr 1fr;
    min-height: 40vh;
    border-bottom: solid 1px rgba(240, 240, 240, 1);
}

.articlePreview:last-of-type {
    border-bottom: none;
}

.articlePreview .previewPicture {
    grid-row: span 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.articlePreview .previewTitle a {
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: clamp(0.75rem, 1.5vw, 2rem);
    margin-bottom: 5px;
    margin-top: 5px;
    color: #1a1a1a;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}

.articlePreview .previewAuthor {
    color: #1a1a1a;
    display: flex;
    text-decoration: none;
    justify-self: center;
    font-size: clamp(0.50rem, 1.2vw, 1.2rem) !important;
    margin-top: 0 !important;
    font-weight: 500 !important;
}

.articlePreview .previewAuthor:hover {
    cursor: pointer;
    text-decoration: underline;
}

.articlePreview .previewContent p {
    color: #1a1a1a;
    margin: 0;
    font-size: clamp(0.5rem, 1.2vw, 1.25rem);
}

.textLink {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    color: #1a1a1a;
    text-underline-offset: 2px;
}
