.authorAttr {
    padding-bottom: 10px;
    font-family: "Lora", serif;
}

.text {
    font-family: "Lora", serif;
    text-align: justify;
    font-size: clamp(0.75rem, 1.5vw, 1.5rem);
}

.bold {
    font-weight: 800;
    text-decoration: none;
    color: #1a1a1a;
}

.bold:hover {
    text-decoration: underline;
}
