.text {
    font-family: "Lora", serif;
    text-align: justify;
    font-size: clamp(0.75rem, 1.5vw, 1.5rem);
    text-indent: 1em;
    hyphens: auto;
    hyphenate-limit-chars: 7 2 3;
}

.contents {
    p {
        margin-bottom: 1em;
    }

    i {
        font-style: italic;
    }

    b, .bold {
        font-weight: 800;
    }
}

.centered {
    display: block;
    text-align: center;
    text-indent: 0;
}
