.contents {
    p {
        margin-bottom: 1em;
    }

    i {
        font-style: italic;
    }

    b, .bold {
        font-weight: 800;
    }
}

.centered {
    display: block;
    text-align: center;
    text-indent: 0;
}
