.contents {
    p {
        margin-bottom: 1em;
    }

    i {
        font-style: italic;
    }

    b, .bold {
        font-weight: 800;
    }

    img {
        display: block;
        margin: 1.5em auto;
        max-width: 100%;
        height: auto;
    }
}

.centered {
    display: block;
    text-align: center;
    text-indent: 0;
}
