.articleContainer {
    display: flex;
    flex-direction: column;
    width: 37.5vw;
    height: 100%;
    margin-top: 20vh;
    align-self: center;
    gap: 15px;
}

.articleContainer .title {
    font-size: 6vh;
    font-family: "Vidaloka", serif;
}

.articleContainer .text {
    font-family: "Lora", serif;
    text-align: justify;
    font-size: clamp(0.75rem, 1.5vw, 1.5rem);
    text-indent: 1em;
    hyphens: auto;
    hyphenate-limit-chars: 7 2 3;
}

.articleContainer .authorAttr {
    padding-bottom: 10px;
    font-family: "Lora", serif;
}

.articleContainer .authorAttr .bold {
    text-decoration: none;
    color: #1a1a1a;
}

.articleContainer .authorAttr .bold:hover {
    text-decoration: underline;
}
