.footer {
    display: flex;
    height: 12vh;
    background-color: white;
    color: gray;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 10px;
    border-top: solid 1px rgba(240, 240, 240, 1);
}
