.wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapperCover {
    background-size: cover;
}

.wrapperContain {
    background-size: contain;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}
